.position{
    padding:  60px 10px 0; /* Height of navbar */;
}
/* #profile{
    margin: 10% 10% 10% 10%;
    padding-left: 5%;
    padding-top: 3%;
    border: 1px solid;
    border-radius: 20%;
    height: 200px;
} */
.title{
    font-size: 3vw;
    text-align: center;
}
.profileCard{
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px rgba(255, 255, 255,0.8); */
    height: 60vh;
    border-color: white;
}
.profilImage{
    width: 55%;
    height: 70vh;
    float: right;
    
}
#profile h3{
    font-size: 4vh;
    text-align: center;
}

#profile #name{
    font-size: 4vh;
    font-weight: bold;
    text-align: center;

}

table{
   width: 80%;
   float: right;
}
td{
    text-align: left;
    font-size: 1.4rem
}


