<section class="sectionImage">
  <!-- <img src="https://cdn.pixabay.com/photo/2017/09/14/08/28/head-2748333_960_720.jpg"> -->
  <!-- "https://images.pexels.com/photos/256417/pexels-photo-256417.jpeg?cs=srgb&dl=pexels-pixabay-256417.jpg&fm=jpg" -->
  <!-- <div style="position: relative; width: 100%; height: 0; padding-top: 36.4583%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 0em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFLigOnuTY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFLigOnuTY&#x2F;view?utm_content=DAFLigOnuTY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a> -->
  <div style="position: relative; width: 100%; height: 0; padding-top: 39.0625%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 0em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
    <iframe loading="lazy"
      style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFLrnFUs6Q&#x2F;view?embed">
    </iframe>
  </div>
  <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFLrnFUs6Q&#x2F;view?utm_content=DAFLrnFUs6Q&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
    target="_blank" rel="noopener"></a>

  <!--<img
       src="https://img.freepik.com/photos-premium/fille-etudiante-rit-sourit-regarde-au-loin-isolee-banniere-web-espace-copie-fond-bleu_101969-2491.jpg?w=1060" alt= "not-found"> -->
</section>
<br>
<br>
<hr>

<section id="us">
  <div>
    <div class="row">
      <div class="col-md-5 usphoto">
        <img id="photo"
          src="https://images.unsplash.com/photo-1526781480235-d79b4866aa9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt="not found">
      </div>
      <div class="col-md-7">
        <blockquote> Réussir est devenu possible, grâce à E-Learning!
          <footer>
            <cite>
              Salma AYADI, ancienne étudiante chez E-LEARNING
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section id="themes">
  <br>
  <h1> De la diversité, à votre disposition</h1>
  <br>
  <hr>
  <br>
  <app-theme-list></app-theme-list>
  <br>
</section>
<section id="sessions">
  <br>
  <br>
  <h1> Sessions disponibles</h1>
  <br>
  <hr>
  <br>
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>
  <br>
</section>
<br>
<hr>
<br>
<section id="avis">
  <div>
    <div class="row">
      <div class="col-md-6">
        <blockquote>Votre réussite est notre objectif! Rejoignez-nous !</blockquote>
      </div>
      <div class="col-md-6">
        <div class="canvaPhoto" style="will-change: transform;">
          <iframe loading="lazy"
            style="position: absolute; width: 95%; height: 95%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFLcYv1VFE&#x2F;watch?embed"
            allowfullscreen="allowfullscreen" allow="fullscreen">
          </iframe>
        </div>
        <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFLcYv1VFE&#x2F;watch?utm_content=DAFLcYv1VFE&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
          target="_blank" rel="noopener"> </a>


      </div>
    </div>
  </div>
</section>
<br>
<app-footer></app-footer>