<section class="secImage">
  <div id="image">
    <!-- <img src="https://cdn.pixabay.com/photo/2017/09/14/08/28/head-2748333_960_720.jpg"> -->
    <!-- "https://images.pexels.com/photos/256417/pexels-photo-256417.jpeg?cs=srgb&dl=pexels-pixabay-256417.jpg&fm=jpg" -->
    
    <img
      src="https://img.freepik.com/photos-premium/fille-etudiante-rit-sourit-regarde-au-loin-isolee-banniere-web-espace-copie-fond-bleu_101969-2491.jpg?w=1060" alt= "not-found">
  </div>

</section>
<section id="themes">
  <hr>
  <br>
  <h1> Découvrez nos thèmes</h1>
  <br>
  <hr>
  <app-theme-list></app-theme-list>
</section>
<br>
<hr>
<section id="us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="photo"
          src="https://images.unsplash.com/photo-1526781480235-d79b4866aa9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt="not found">
      </div>
      <div class="col-md-6">
        <p> J'ai réussi à réaliser mon rêve! Et c'est grâce à VOUS! </p>
      </div>
    </div>
  </div>
</section>
<section id="sessions">
  <hr>
  <br>
  <h1> Sessions à venir</h1>
  <br>
  <hr>

</section>
<br>
<section id="avis">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p> Votre réussite est notre objectif! Rejoignez-nous!</p>
      </div>
      <div class="col-md-6">
        <img id="teacher"
          src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
          alt="not found">
      </div>
    </div>
  </div>
</section>
<br>
<app-footer></app-footer>