<section id="sec1">
    <div id="image">
        <img src="https://images.pexels.com/photos/256417/pexels-photo-256417.jpeg?cs=srgb&dl=pexels-pixabay-256417.jpg&fm=jpg" alt="not-found">
    </div>

</section>
<section id="sessions">
    <hr>
    <br>
 <h1> Découvrez nos thèmes</h1>
 <br>
 <hr>
 <app-theme-list></app-theme-list>
</section>
<section id="sec2">
    <hr>
    <br>
 <h1> Sessions à venir</h1>
 <br>
 <hr>
<div id="projects">
 <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img id="im1" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img id="im1" class="card-img-top" src="">
        <div class="card-body">
          <h5 class="card-title">Another project</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">More details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Latest Project</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">More details</a>
          </div>
        </div>
      </div>
  </div>
</div>

</section>

