.imagenav{
    width: 100%;
    height: 70vh;
   
  }
  #image {
    display: flex;
    flex-direction: column;  
}
h1{
    font-size: 4vw;
    text-align: center;
    font-family: monospace;
}

h3{
    font-size: 2vw;
    padding-left: 2%;
    font-family: monospace;
}
@media(max-width: 500px) {
    h3{
        font-size: 6vw;
        text-align: center;
        
    }
    h1{
        font-size: 8vw;
    }
   
}
.row {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
    
    row-gap: 2rem;
  
   
}
@media(max-width: 500px) {
    .row {
      grid-template-columns: 1fr;
      column-gap: 3rem;
    }  
  }

.card {

  align-self: center;
  height: 60%;
  width:80%;
  
  
  
}
.cardimag{
    height:80%;
    width: 100%;
}
.card-img-top{
  height:80%;
    width: 100%;
}