#sect{
  padding-top: 5%;
}
.btnModifer{
    border-color: #1f3c64;
    color:#1f3c64;
    background-color: white;
}
.btnSupprimer{
    border-color:red;
    color:red;
    background-color: white;
    margin-left: 5%;
}
.btnSupprimer:hover{
  background-color: red;
  color: white;
}
.btn-group{
  float: right;

}
.btnModifer:hover{
  background-color: #1f3c64;
  color:white;
}
