<section id="secimage">
    <div id="image">
        <!-- <img src="https://cdn.pixabay.com/photo/2017/09/14/08/28/head-2748333_960_720.jpg"> -->
        <!-- "https://images.pexels.com/photos/256417/pexels-photo-256417.jpeg?cs=srgb&dl=pexels-pixabay-256417.jpg&fm=jpg" -->
        <img class="imagenav"
            src="https://img.freepik.com/vecteurs-libre/jeunes-gens-marchant-devant-illustration-plate-college-universite_74855-14224.jpg?w=1380&t=st=1662673181~exp=1662673781~hmac=ef5d843c8c041f14fc7eb4192ed142fa32742804b0ee4c9caa169b04734adc09"
            alt="not-found">
    </div>

</section>
<section>
    <br><br>
    <div >
        <h1>Les sessions disponibles</h1>
        <br><br>
        <hr>
    </div>
    <br>
    <h3 *ngIf="listsessions!=0">Alors ! qu'attendez vous ?</h3>
    <h3 *ngIf="listsessions==0">Pas de session disponible</h3>
    <br><br>
    <div class="container">
        <div class="row">
            <li *ngFor="let s of listsessions">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title title ">{{s.formation.title}}</h5>
                        <h6 class="card-subtitle">{{s.date|date:'mediumDate'}} </h6>
                        <h6 class="card-subtitle duration">{{s.duration}} </h6>
                        <p class="card-subtitle prix">{{s.prix}} Dinar TTC</p><br><br><br>
                        <p class="card-text">{{s.formation.description}}</p>
                        <a [routerLink]="['/payement', s.id ]"class="btn btn-success">S'inscrire</a>
                    </div>

                </div>
            </li>
        </div>
    </div>
    <br><br>
</section>