.position{
    padding-top: 80px;
   
}
/* .container-fluid{
    background-image: url(https://img.freepik.com/vecteurs-libre/concept-tutoriels-ligne_52683-37480.jpg?w=1060&t=st=1662733657~exp=1662734257~hmac=087e01fe9176509657cf2e4d761c0d4e8cd5c28a469920e7376829359b3d1a4e);
    background-repeat: no-repeat;
    width: 100%;

} */
/* img{
    height: 70vh;
    width: 100%;
} */

.image,
.content  {
 
  position: absolute;
  top: 80px;
   
}
.content  {
  z-index: 10;
}
.card{
    border-radius: 0px;
    height: 90vh;
    border: width 2px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background-color: rgba(255, 255, 255, 0.95) ;
 
    
}
.facture{
    padding: 4%;
    height: 100%;
}
.entete{
    height: 20%;
    text-align: center;
}
#nomPrenom{
font-weight: bold;
font-size: 2rem;

}
.corps{
    height: 60%;
}
.piedPage{
    height: 10%;
    
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 25px;

}
hr{
    border-color: rgb(33, 142, 250);
    border: width 4px ;
}
.btn{
    float: right;
    background-color: white;
    color: rgb(33, 142, 250);
    border-color: rgb(33, 142, 250);
    font-size: 25px;
}
.btn:hover{
    
    background-color:rgb(33, 142, 250);
    color:white;
    border-color:white;
    
}
#email{
    float: left;
}
#tel{
    float: right;
}
img{
    width: 100%;
    height: 99vh;
}