/* .themeSection{
    
    height: 100vh;
    
} */
.btnModifer{
    border-color: rgb(109, 203, 199);
    color:rgb(109, 203, 199);
    background-color: white;
}
.btnSupprimer{
    border-color:red;
    color:red;
    background-color: white;
    margin-left: 1%;
}
.buttons{
    display: inline;
    float: right;
}