<!--Basic structure of footer-->
<footer>
  <!--The main area of the footer -->
  <div class="footer-content">
  
     <h3>E-learning Platform</h3>
     <p>E-learning Platform est site web dedié à l'apprentissage, le developpement personnel et la réussite! </p>
  
  <!--Footer's social icon-->
     <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
  
   <!-- Footer's menu item-->
     <div class="footer-menu">
        <ul class="f-menu">
          <li><a href="">Acceuil</a></li>
          <li><a href="">A propos</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Articles</a></li>
        </ul>
     </div>
  
  </div>
  
  <!--Copyright Area-->
  <div class="footer-bottom">
      <p>Design By - <a href="#">Soulayma-Hend</a>  </p>
  </div>
  
  </footer>
