.styleNavbar{
    background-color: rgba(255,255,255,0);
    height:15%;
  
}
.scrollingstyle{
    background-color: white;
   
}
.navbar a{
    color: black;
    font-weight: 1000;
    font-size: 20px;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: rgba(255,255,255,0.6);;
 }
 .navbar a:hover{
    color:rgb(109, 203, 199)
    
}
#sec{
    border-bottom:1px solid;
    padding-bottom:15px;
}

.profileMenu {
    display: flex;
    position: relative;

}
.dropdown-menu-end {
    right: 0;
    left: auto;
  }
.icon{
    display: inline-block;
    margin-right: 7%;
    width: min-content;
}





