<nav class="navbar fixed-top  navbar-expand-lg  styleNavbar " (scroll)="onWindowScroll()">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  <div  class="container" >
    <ul class="nav mx-auto " >
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="acceuil" routerLinkActive="active">  Acceuil  </a>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" routerLink="themes" routerLinkActive="active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">  Thèmes  </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" routerLink="formations" routerLinkActive="active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">  Formation  </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="adminPage" routerLinkActive="active">  Admin  </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " routerLink="signup"  routerLinkActive="active">  Sign Up  </a>
      </li> 
      <li class="nav-item ">
        <a class="nav-link " routerLink="signin"  routerLinkActive="active">  Sign In  </a>
      </li> 
    </ul>
  </div>
</nav>