<div class="position">

    <h3> Modifier le thème </h3>
    <form #f="ngForm" (ngSubmit)="modifTheme(f.value)">

        <label for="title">Titre</label>
        <input [(ngModel)]="myTheme.title" ngModel type="text" class="form-control" id="title" name="title">

        <label for="image">Image</label>
        <input [(ngModel)]="myTheme.image" ngModel type="url" class="form-control" id="image" name="image">

        <label for="description">Description</label>
        <input [(ngModel)]="myTheme.description" ngModel type="text" class="form-control" id="description" name="description">
        <br>
        <button class="btn btnModifer">Modifier</button>
    </form>
<br><br>
</div>