
    <!-- Sidebar -->
    <section class="adminDashboard">
      
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>
          <a class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active" >
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Webiste traffic</span>
          </a>
          <a routerLink="addFormation" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active"><i
              class="fa-solid fa-pen-to-square me-3"></i><span>Formations</span></a>
              
          <a routerLink="addSession" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active"><i
              class="fa-solid fa-pen-to-square me-3"></i><span>Sessions</span></a>

          <a routerLink="addTheme"  class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active">
            <i class="fa-solid fa-pen-to-square me-3"></i><span>Thèmes</span>
          </a>
          <a routerLink="gestEquipe" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fa-solid fa-user-plus me-3"></i><span>Gestion de l'equipe</span></a>
              
              <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fa-solid fa-users me-3"></i><span>Inscriptions</span></a>
          <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-building fa-fw me-3"></i><span>Gérer les comptes</span></a>
          <!-- <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-calendar fa-fw me-3"></i><span>Calendrier</span></a>
          <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-users fa-fw me-3"></i><span>Statistiques</span></a> -->
          <!-- <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-money-bill fa-fw me-3"></i><span>logout</span></a> -->
        </div>
      </div>
    </nav>
  
  </section>

