<!-- Sidebar -->
<section class="adminDashboard">

  <nav id="sidebarMenu" class=" sidebar d-lg-block bg-white ">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
        <a routerLink="addTheme" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active">
          <i class="fa-solid fa-plus me-3"></i><span>Ajouter un thème</span>
        </a>
        <a routerLink="addFormation" class="list-group-item list-group-item-action py-2 ripple "
          routerLinkActive="active"><i class="fa-solid fa-plus me-3"></i><span>Ajouter une formation</span></a>

        <a routerLink="addSession" class="list-group-item list-group-item-action py-2 ripple"
          routerLinkActive="active"><i class="fa-solid fa-plus me-3"></i><span>Ajouter une session</span></a>

        <a routerLink="updateTheme" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active">
          <i class="fa-solid fa-pen-to-square me-3"></i><span>Modifier un thème</span>
        </a>
        <a routerLink="updateFormation" class="list-group-item list-group-item-action py-2 ripple " routerLinkActive="active"><i
            class="fa-solid fa-pen-to-square  me-3"></i><span>Modifier une formation</span></a>

        <a routerLink="updateSession" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active"><i
            class="fa-solid fa-pen-to-square me-3"></i><span>Modifier une session</span></a>

        <a routerLink="gestEquipe" routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"><i
            class="fa-solid fa-user-plus me-3"></i><span>Gestion de l'equipe</span></a>
        
            <a routerLink="updateUser" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"  ><i
            class="fa-solid fa-user-minus me-3"></i><span>Gérer les comptes</span></a>
            
            <a class="list-group-item list-group-item-action py-2 ripple"><i
            class="fa-solid fa-users me-3"></i><span>Inscriptions</span></a>

        <!-- <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-calendar fa-fw me-3"></i><span>Calendrier</span></a>
          <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-users fa-fw me-3"></i><span>Statistiques</span></a> -->
        <!-- <a class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-money-bill fa-fw me-3"></i><span>logout</span></a> -->
      </div>
    </div>
  </nav>

</section>