body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}


/* Sidebar */
.sidebar {

    top: 0;
    bottom: 0;
    left: 0;
    padding: 50px 10px 0;
    /* Height of navbar */
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%), 0px 0px 10px 0px rgb(0 0 0 / 5%);
    width: 340px;
    z-index: 600;
}


.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.position-sticky {
    position: static;
    top: 0;
    height: 70vh;
    /* Scrollable contents if viewport is shorter than content. */
   
}

.active {
    background-color: rgb(109, 203, 199);
    border-color: rgb(109, 203, 199);
}

.active:hover {
    background-color: rgb(109, 203, 199, 0.8);
    border-color: rgb(109, 203, 199, 0.8);
    color: black;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}