body {
    background-color: #fbfbfb;
}

/* @media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
} */



/* Sidebar */
.sidebar {
   

    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 5px 0 5px -2px rgb(0 0 0 / 5%), 5px 0 5px -2px rgb(0 0 0 / 5%);
    width: 340px;
    z-index: 600;
}


.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.position-sticky {
    position: fixed;
    height: 90vh;
    top: 0;
    
    /* Scrollable contents if viewport is shorter than content. */
   
}

.active {
    background-color: #ffbd59;
    border-color: #ffbd59;
}

.active:hover {
    background-color: #ffbd59;
    border-color: #ffbd59;
    color: black;
}

/* @media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
} */
@media screen and (max-width: 995px) {
    #sidebarMenu {
      width: 100%;
      height: 50vh;
      position: relative;
    }
    .sidebar a {float: left;}
    
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }